@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-row-center {
  @include flex-row;
  @include flex-center;
}

@mixin flex-column-center {
  @include flex-column;
  @include flex-center;
}
