@use '@/styles/mixins' as *;

:root {
  --active-color: #255BF6;
  --progress-bar-bg-color: #EBF0F5;
  --switcher-off-color: #DCE6EB;
  --input-br: 34px;
  --input-width: 60px;
  --input-height: 34px;
  --text-color: #000;
  --main-transition: 0.5s ease;
}

* {
  padding: 0;
  margin: 0;
}

#root {
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  color: var(--text-color);
  padding: 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
}
